@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin:0%;
    padding: 0%;
}
.list-body{
    width: 300px;
    height: 300px;
    justify-items: center;
    background-color: white;
}
.list-hat{
    background: #FFDC40;
    height: 28px;
    width: 336px;
    left: 408px;
    top: 232px;
   border-radius:10px 10px 0px 0px;
    
}
.header{
height: 34px;
width: 198px;
left: 477px;
top: 273px;
 font-family: Roboto;
 font-style: Black;
font-size: 26px;
 line-height: 30px;
line-height: 100%;
 align-items: Center;

    

}
.list-items{
height: 200px;
width: 286px;
left: 436px;
top: 350px;
border-radius: 10px;
border:2px solid grey;

}
.Addbutton{
 height: 42px;
width: 129px;
left: 521px;
top: 568px;
background-color: #833AE0;
border-radius:71px;
;

}